@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Contact>
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresJs("/vendor/jquery/jquery.min.js");
    Html.RequiresJs("/vendor/bootstrap/js/bootstrap.bundle.min.js");
    Html.RequiresJs("/scripts/jquery.validate.min.js");   
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive-ajax.min.js");
    Html.RequiresJs("/scripts/contactForm.js");
}
<!-- Page Header-->
@Html.Partial("~/Views/Partials/pageHeader.cshtml")

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @{ Html.RenderAction("RenderForm", "ContactSurface"); }
        </div>
    </div>
</div>